@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@700&family=Raleway:wght@500&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


*:focus {
    outline: none;
}

/* ---------------------- sec1 ------------------------ */

.sec1{
    background: rgb(33,58,74);
    background: linear-gradient(90deg, rgba(33,58,74,1) 43%, rgba(47,76,94,1) 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.sec1-inner{
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    min-height: 90vh;
    display: flex;
}

.sec1-left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-height: 100%;
    justify-content: center;
    color: white;
}

.sec1-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 3%;
}

.sec1-para{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 3%;
}

.sec1-list{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 1%;
}

.sec1-box1{
    margin: 6% 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    display: flex;
    width: 350px;
}

.sec1-box1-box{
    flex-basis: 33%;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.sec1-box1-box1{
    border-right: 2px solid white;
}

.sec1-box2{
    margin: 6% 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    display: flex;
    width: 350px;
}
.sec1-box2-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec1-box2-box1{
    flex-basis: 25%;
    font-size: 25px;
    padding-right: 2%;
}
.sec1-box2-box2{
    flex-basis: 25%;
    text-decoration: line-through;
    font-size: 18px;
}
.sec1-box2-box3{
    flex-basis: 50%;
    font-size: 18px;
    
}
.sec1-box2-box3 a{
    text-decoration: none;
    padding: 5% 15%;
    background-color: white;
    border: 2px solid white;
    color: #213A4A;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.sec1-box2-box3 a:hover{
    background-color: transparent;
    color: white;
}
.sec1-right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.sec1-right img{
    width: 350px;
    border-radius: 10px;
    padding: 4% 0;
}
.sec1-right-para{
    width: 90%;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 3%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------- sec2 ------------------------ */

.sec2{
    padding-top: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.sec2-inner{
    /* background-color: red; */
    width: 60%;
    margin: 0 auto;
    min-height: 70vh;
    display: flex;
}

.sec2-left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 100%;
    justify-content: center;
    color: #213A4A;
}

.sec2-heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    margin: 1% 0;
}
.sec2-heading1{
    padding-top: 2%;
}
.sec2-list{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 1%;
}

.sec2-box1{
    margin: 2% 0;
    padding-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 750px;
}
.sec2-box2-box{
    background-color: #D7DBDD;
    box-shadow: 8px 9px 14px -4px rgba(0,0,0,0.6);
    cursor: context-menu;
    border-radius: 25px;
    padding:1% 2%;
    margin:1% 2%;
}

/* --------------------- sec3 ----------------------------  */

.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding-top: 5%;
}

.sec3-inner{
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    min-height: 70vh;
    display: flex;
}

.sec3-left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    min-height: 100%;
    justify-content: center;
}

.sec3-heading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 3%;
}

.sec3-right{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}
.sec3-right-inner{
    background-color:#F7F7F7 ;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
}
.sec3-right-img i{
    font-size: 40px;
    padding-bottom: 20%;
    color: #2F4C5E;
}
.sec3-right-p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2F4C5E;
}
.sec3-right-box{
    width: 200px;
    padding-top: 12%;
    text-align: center;
}
.sec3-right-box a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 5% 15%;
    background-color: #2F4C5E;
    border: 2px solid #2F4C5E;
    color: white;
    border-radius: 25px;
    transition: .2s ease-in-out;
}
.sec3-right-box a:hover{
    background-color: transparent;
    color: #2F4C5E;
}

.faq {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.course-card {
    display: flex;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
}

.faq-question {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: black
}

.faq-answer {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*for large screens*/
@media only screen and (min-width: 800px) {
    .faq {
        width: 100%;
    }
}
@media screen and (min-width:600px) and (max-width:799px){
    .faq {
        width: 100%;
    }
}
@media only screen and (max-width: 599px) {
    .faq {
        width: 100%;
    }
}


.section-heading{
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0;
    text-align: center;
    color: #666666;
	font-size: 25px;
    font-weight: 700;
}
@media(max-width: 499px) {
    .section-heading{
        font-size: 18px;
    }
}

/* ---------------------- sec4 ------------------------ */

.sec4{
    background: rgb(33,58,74);
    background: linear-gradient(90deg, rgba(33,58,74,1) 43%, rgba(47,76,94,1) 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.sec4-inner{
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
}

.sec4-left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-height: 100%;
    justify-content: center;
    color: white;
}

.sec4-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 3%;
}

.sec4-para{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 3%;
}

.sec4-right{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.sec4-right img{
    width: 400px;
    border-radius: 10px;
}

/* ---------------------- sec5 ------------------------ */
.sec5-head{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 6% 0;
    color: #2F4C5E;
    letter-spacing: 1px;
    font-size: 18px
}

.sec5{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.sec5-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 3% 0;
}

.sec5-inner{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sec5-box{
    width: 270px;
    height: 230px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    border-width: 4px 1px 1px;
    border-style: solid;
    border-color: green rgb(206, 204, 227) rgb(206, 204, 227);
    border-image: initial;
    border-radius: 5px;
    margin: 20px;
    cursor: context-menu;
}
.sec5-box-h{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 3%;
    width: 90%;
}

.sec5-box-p{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 3%;
    width: 90%;
}

/* ---------------------- sec6 ------------------------ */

.sec6{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 30px 0;
    background-color: #f7f7f7;
}

.sec6-inner{
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    
}

.sec6-left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    min-height: 100%;
    justify-content: center;
    color: #2F4C5E;
}

.sec6-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 3%;
}

.sec6-para{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 3%;
}

.sec6-right{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.sec6-box{
    display: flex;
    width: 270px;
    height: 195px;
    border: 1.5px solid rgb(206, 204, 227);
    border-radius: 10px;
    box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
.sec6-box-inner{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: center;
    overflow: hidden;
    color: #2F4C5E;
}

.sec6-box-top{
    height:40% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6-box-top-left{
    padding-right: 6%;
}

.sec6-box-top-left img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.sec6-box-top-right-h{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.sec6-box-top-right-p{
    font-family: 'Lato', sans-serif;
    font-size: 9px;
}
.sec6-box-bottom{
    height:60% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

/* ------------------------- responsive ------------------ */

@media only screen and (max-width: 1199px) and (min-width: 900px)  {
    .sec1{
        min-height: 90vh;
    }
    
    .sec1-inner{
        width: 90%;
        min-height: 90vh;
    }
    
    .sec1-left{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 100%;
        justify-content: center;
    }
    
    .sec1-heading{
        font-size: 28px;
        margin-bottom: 3%;
    }
    
    .sec1-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
    }
    
    .sec1-list{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 1%;
    }
    
    .sec1-box1{
        margin: 6% 0;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    
    .sec1-box1-box{
        flex-basis: 33%;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    
    .sec1-box1-box1{
        border-right: 2px solid white;
    }
    
    .sec1-box2{
        margin: 6% 0;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    .sec1-box2-box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sec1-box2-box1{
        flex-basis: 25%;
        font-size: 20px;
        padding-right: 2%;
    }
    .sec1-box2-box2{
        flex-basis: 25%;
        text-decoration: line-through;
        font-size: 15px;
    }
    .sec1-box2-box3{
        flex-basis: 50%;
        font-size: 15px;
        
    }
    .sec1-box2-box3 a{
        text-decoration: none;
        padding: 5% 15%;
        background-color: white;
        border: 2px solid white;
        color: #213A4A;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec1-box2-box3 a:hover{
        background-color: transparent;
        color: white;
    }
    .sec1-right{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    
    .sec1-right img{
        width: 350px;
        border-radius: 10px;
        padding: 4% 0;
    }
    .sec1-right-para{
        width: 90%;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 3%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* ---------------------- sec2 ------------------------ */
    
    .sec2{
        padding-top: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
    
    .sec2-inner{
        /* background-color: red; */
        width: 80%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
    }
    
    .sec2-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        color: #213A4A;
    }
    
    .sec2-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 1px;
        margin: 1% 0;
    }
    .sec2-heading1{
        padding-top: 2%;
    }
    .sec2-list{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 14px;
        margin-bottom: 1%;
    }
    
    .sec2-box1{
        margin: 2% 0;
        padding-bottom: 3%;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        max-width: 750px;
    }
    .sec2-box2-box{
        background-color: #D7DBDD;
        box-shadow: 8px 9px 14px -4px rgba(0,0,0,0.6);
        cursor: context-menu;
        border-radius: 25px;
        padding:1% 2%;
        margin:1% 2%;
    }
    
    /* --------------------- sec3 ----------------------------  */
    
    .sec3{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        padding-top: 5%;
    }
    
    .sec3-inner{
        /* background-color: red; */
        width: 95%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
    }
    
    .sec3-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        min-height: 100%;
        justify-content: center;
    }
    
    .sec3-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec3-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    .sec3-right-inner{
        background-color:#F7F7F7 ;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    }
    .sec3-right-img i{
        font-size: 40px;
        padding-bottom: 20%;
        color: #2F4C5E;
    }
    .sec3-right-p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #2F4C5E;
    }
    .sec3-right-box{
        width: 200px;
        padding-top: 12%;
        text-align: center;
    }
    .sec3-right-box a{
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        padding: 5% 15%;
        background-color: #2F4C5E;
        border: 2px solid #2F4C5E;
        color: white;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec3-right-box a:hover{
        background-color: transparent;
        color: #2F4C5E;
    }
    
    .faq {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    
    .course-card {
        display: flex;
    }
    
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    
    .accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2796";
    }
    
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        text-align: left;
    }
    
    .faq-question {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: black
    }
    
    .faq-answer {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    
    /* ---------------------- sec4 ------------------------ */
    
    .sec4{
        background: rgb(33,58,74);
        background: linear-gradient(90deg, rgba(33,58,74,1) 43%, rgba(47,76,94,1) 66%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
    }
    
    .sec4-inner{
        /* background-color: red; */
        width: 90%;
        margin: 0 auto;
        min-height: 60vh;
        display: flex;
    }
    
    .sec4-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 100%;
        justify-content: center;
        color: white;
    }
    
    .sec4-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec4-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
        margin-bottom: 3%;
    }
    
    .sec4-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec4-right img{
        width: 400px;
        border-radius: 10px;
    }
    
    /* ---------------------- sec5 ------------------------ */
    .sec5-head{
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding: 4% 0;
        color: #2F4C5E;
        letter-spacing: 1px;
        font-size: 12px
    }
    
    .sec5{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 90vh;
    }
    .sec5-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        letter-spacing: 1px;
        margin: 3% 0;
    }
    
    .sec5-inner{
        max-width: 1000px;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .sec5-box{
        width: 270px;
        height: 230px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
        border-width: 4px 1px 1px;
        border-style: solid;
        border-color: green rgb(206, 204, 227) rgb(206, 204, 227);
        border-image: initial;
        border-radius: 5px;
        margin: 20px;
        cursor: context-menu;
    }
    .sec5-box-h{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 3%;
        width: 90%;
    }
    
    .sec5-box-p{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
        width: 90%;
    }
}

@media only screen and (max-width: 899px) and (min-width: 600px)  {
    .sec1{
        min-height: 90vh;
    }
    
    .sec1-inner{
        width: 90%;
        min-height: 90vh;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .sec1-left{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
    }
    
    .sec1-heading{
        font-size: 28px;
        margin-bottom: 3%;
        padding-top: 3%;
    }
    
    .sec1-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
    }
    
    .sec1-list{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 1%;
    }
    
    .sec1-box1{
        margin: 6% 0;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    
    .sec1-box1-box{
        flex-basis: 33%;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    
    .sec1-box1-box1{
        border-right: 2px solid white;
    }
    
    .sec1-box2{
        margin: 6% 0;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    .sec1-box2-box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sec1-box2-box1{
        flex-basis: 25%;
        font-size: 20px;
        padding-right: 2%;
    }
    .sec1-box2-box2{
        flex-basis: 25%;
        text-decoration: line-through;
        font-size: 15px;
    }
    .sec1-box2-box3{
        flex-basis: 50%;
        font-size: 15px;
        
    }
    .sec1-box2-box3 a{
        text-decoration: none;
        padding: 5% 15%;
        background-color: white;
        border: 2px solid white;
        color: #213A4A;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec1-box2-box3 a:hover{
        background-color: transparent;
        color: white;
    }
    .sec1-right{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec1-right img{
        width: 350px;
        border-radius: 10px;
        padding: 4% 0;
    }
    .sec1-right-para{
        width: 100%;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 3%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* ---------------------- sec2 ------------------------ */
    
    .sec2{
        padding-top: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
    
    .sec2-inner{
        /* background-color: red; */
        width: 90%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
    }
    
    .sec2-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        color: #213A4A;
    }
    
    .sec2-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 1px;
        margin: 1% 0;
    }
    .sec2-heading1{
        padding-top: 2%;
    }
    .sec2-list{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 14px;
        margin-bottom: 1%;
    }
    
    .sec2-box1{
        margin: 2% 0;
        padding-bottom: 3%;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        max-width: 750px;
    }
    .sec2-box2-box{
        background-color: #D7DBDD;
        box-shadow: 8px 9px 14px -4px rgba(0,0,0,0.6);
        cursor: context-menu;
        border-radius: 25px;
        padding:1% 2%;
        margin:1% 2%;
        font-size: 12px;
    }
    
    /* --------------------- sec3 ----------------------------  */
    
    .sec3{
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-height: 70vh;
        padding-top: 5%;
    }
    
    .sec3-inner{
        /* background-color: red; */
        width: 98%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .sec3-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 95%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec3-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec3-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .sec3-right-inner{
        background-color:#F7F7F7 ;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    }
    .sec3-right-img i{
        font-size: 40px;
        padding-bottom: 20%;
        color: #2F4C5E;
    }
    .sec3-right-p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #2F4C5E;
    }
    .sec3-right-box{
        width: 200px;
        padding-top: 12%;
        text-align: center;
    }
    .sec3-right-box a{
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        padding: 5% 15%;
        background-color: #2F4C5E;
        border: 2px solid #2F4C5E;
        color: white;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec3-right-box a:hover{
        background-color: transparent;
        color: #2F4C5E;
    }
    
    .faq {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    
    .course-card {
        display: flex;
    }
    
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    
    .accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2796";
    }
    
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        text-align: left;
    }
    
    .faq-question {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: black
    }
    
    .faq-answer {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    
    /* ---------------------- sec4 ------------------------ */
    
    .sec4{
        background: rgb(33,58,74);
        background: linear-gradient(90deg, rgba(33,58,74,1) 43%, rgba(47,76,94,1) 66%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
    }
    
    .sec4-inner{
        /* background-color: red; */
        width: 95%;
        margin: 0 auto;
        min-height: 60vh;
        display: flex;
    }
    
    .sec4-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        min-height: 100%;
        justify-content: center;
        color: white;
    }
    
    .sec4-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec4-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
    }
    
    .sec4-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec4-right img{
        width: 300px;
        border-radius: 10px;
    }
    
    /* ---------------------- sec5 ------------------------ */
    .sec5-head{
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding: 4% 0;
        color: #2F4C5E;
        letter-spacing: 1px;
        font-size: 12px
    }
    
    .sec5{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 90vh;
    }
    .sec5-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        letter-spacing: 1px;
        margin: 3% 0;
    }
    
    .sec5-inner{
        max-width: 1000px;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .sec5-box{
        width: 270px;
        height: 230px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
        border-width: 4px 1px 1px;
        border-style: solid;
        border-color: green rgb(206, 204, 227) rgb(206, 204, 227);
        border-image: initial;
        border-radius: 5px;
        margin: 20px;
        cursor: context-menu;
    }
    .sec5-box-h{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 3%;
        width: 90%;
    }
    
    .sec5-box-p{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
        width: 90%;
    }
}

@media only screen and (max-width: 599px) and (min-width: 0px)  {
    .sec1{
        min-height: 90vh;
    }
    
    .sec1-inner{
        width: 95%;
        min-height: 90vh;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* padding-left: 2%; */
    }
    
    .sec1-left{
        display: flex;
        flex-direction: column;
        flex-basis: 90%;
        min-height: 100%;
        
    }
    
    .sec1-heading{
        font-size: 28px;
        margin-bottom: 3%;
        padding-top: 3%;
    }
    
    .sec1-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 3%;
    }
    
    .sec1-list{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 1%;
    }
    
    .sec1-box1{
        margin: 6% 0;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    
    .sec1-box1-box{
        flex-basis: 33%;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    
    .sec1-box1-box1{
        border-right: 2px solid white;
    }
    
    .sec1-box2{
        margin: 6% 0;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        display: flex;
        width: 350px;
    }
    .sec1-box2-box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sec1-box2-box1{
        flex-basis: 25%;
        font-size: 20px;
        padding-right: 2%;
    }
    .sec1-box2-box2{
        flex-basis: 25%;
        text-decoration: line-through;
        font-size: 15px;
    }
    .sec1-box2-box3{
        flex-basis: 50%;
        font-size: 15px;
        
    }
    .sec1-box2-box3 a{
        text-decoration: none;
        padding: 5% 15%;
        background-color: white;
        border: 2px solid white;
        color: #213A4A;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec1-box2-box3 a:hover{
        background-color: transparent;
        color: white;
    }
    .sec1-right{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec1-right img{
        width: 350px;
        border-radius: 10px;
        padding: 4% 0;
    }
    .sec1-right-para{
        width: 100%;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 3%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* ---------------------- sec2 ------------------------ */
    
    .sec2{
        padding-top: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
    
    .sec2-inner{
        /* background-color: red; */
        width: 90%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
    }
    
    .sec2-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        color: #213A4A;
    }
    
    .sec2-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 1% 0;
    }
    .sec2-heading1{
        padding-top: 2%;
    }
    .sec2-list{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 1%;
    }
    
    .sec2-box1{
        margin: 2% 0;
        padding-bottom: 3%;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        max-width: 750px;
    }
    .sec2-box2-box{
        background-color: #D7DBDD;
        box-shadow: 8px 9px 14px -4px rgba(0,0,0,0.6);
        cursor: context-menu;
        border-radius: 25px;
        padding:1% 2%;
        margin:1% 2%;
        font-size: 12px;
    }
    
    /* --------------------- sec3 ----------------------------  */
    
    .sec3{
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-height: 70vh;
        padding-top: 5%;
    }
    
    .sec3-inner{
        /* background-color: red; */
        width: 98%;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .sec3-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 95%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec3-heading{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec3-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .sec3-right-inner{
        background-color:#F7F7F7 ;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
    }
    .sec3-right-img i{
        font-size: 40px;
        padding-bottom: 20%;
        color: #2F4C5E;
    }
    .sec3-right-p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        color: #2F4C5E;
    }
    .sec3-right-box{
        width: 200px;
        padding-top: 12%;
        text-align: center;
    }
    .sec3-right-box a{
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        padding: 5% 15%;
        background-color: #2F4C5E;
        border: 2px solid #2F4C5E;
        color: white;
        border-radius: 25px;
        transition: .2s ease-in-out;
    }
    .sec3-right-box a:hover{
        background-color: transparent;
        color: #2F4C5E;
    }
    
    .faq {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    
    .course-card {
        display: flex;
    }
    
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    
    .active,
    .accordion:hover {
        background-color: #ccc;
    }
    
    .accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2796";
    }
    
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        text-align: left;
    }
    
    .faq-question {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: black
    }
    
    .faq-answer {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
    }
    
    
    /* ---------------------- sec4 ------------------------ */
    
    .sec4{
        background: rgb(33,58,74);
        background: linear-gradient(90deg, rgba(33,58,74,1) 43%, rgba(47,76,94,1) 66%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
    }
    
    .sec4-inner{
        /* background-color: red; */
        width: 95%;
        margin: 0 auto;
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .sec4-left{
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .sec4-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    
    .sec4-para{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 3%;
        text-align: center;
    }
    
    .sec4-right{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        min-height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sec4-right img{
        width: 300px;
        border-radius: 10px;
    }
    
    /* ---------------------- sec5 ------------------------ */
    .sec5-head{
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding: 4% 0;
        color: #2F4C5E;
        letter-spacing: 1px;
        font-size: 12px
    }
    
    .sec5{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 90vh;
    }
    .sec5-heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        letter-spacing: 1px;
        margin: 3% 0;
    }
    
    .sec5-inner{
        max-width: 1000px;
        margin: 0 auto;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .sec5-box{
        width: 270px;
        height: 230px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: rgb(217 217 217) 2px 2px 5px, rgb(231 231 231) -5px -5px 8px;
        border-width: 4px 1px 1px;
        border-style: solid;
        border-color: green rgb(206, 204, 227) rgb(206, 204, 227);
        border-image: initial;
        border-radius: 5px;
        margin: 20px;
        cursor: context-menu;
    }
    .sec5-box-h{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 3%;
        width: 90%;
    }
    
    .sec5-box-p{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        font-size: 12px;
        margin-bottom: 3%;
        width: 90%;
    }
}



/* ------------------------ footer---------------------- */

.secf2{
    /* margin-top: 30px; */
    min-height: 40vh;
    background: rgb(47,76,94);
    background: radial-gradient(circle, rgba(47,76,94,1) 28%, rgba(32,57,73,1) 88%);
    position: relative;
}

.secf2-left{
    position: absolute;
    top: 25%;
    left :8%;
}
.secf2-left a img{
    width: 200px;
    transform: translateX(-8%);
}
.secf2-right{
    position: absolute;
    top: 25%;
    right :15%;
}
.secf2-h{
    color: #979A9A ;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    padding-bottom: 2%;
    font-size: 12px;
}
.secf2-p{
    color: white ;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 16px;
}
.secf2-i{
    margin-top: 10px;
}
.secf2-i a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-right: 10px;
    margin-top: 10px;
    transition: .2s ease-in;
}
.secf2-i a:hover{
    color: #D0D3D4;
}
.secf2-bottom{
    position: absolute;
    bottom: 4%;
    left: 43%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
}

@media screen and (min-width:768px) and (max-width:1099px){
    .secf2{
        min-height: 43vh;
        background: rgb(47,76,94);
        background: radial-gradient(circle, rgba(47,76,94,1) 28%, rgba(32,57,73,1) 88%);
        position: relative;
    }
    
    .secf2-left{
        position: absolute;
        top: 18%;
        left :8%;
    }
    .secf2-left a img{
        width: 200px;
        transform: translateX(-8%);
    }
    .secf2-right{
        position: absolute;
        top: 25%;
        right :8%;
    }
    .secf2-h{
        color: #979A9A ;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1.5px;
        padding-bottom: 2%;
        font-size: 10px;
    }
    .secf2-p{
        color: white ;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5px;
        line-height: 25px;
        font-size: 14px;
    }
    .secf2-i{
        margin-top: 10px;
    }
    .secf2-i a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding-right: 10px;
        margin-top: 10px;
        transition: .2s ease-in;
    }
    .secf2-i a:hover{
        color: #D0D3D4;
    }
    .secf2-bottom{
        position: absolute;
        bottom: 4%;
        left: 43%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: white;
        letter-spacing: 1px;
    }
}

@media(max-width: 767px) {
    .secf2{
        min-height: 40vh;
        background: rgb(47,76,94);
        background: radial-gradient(circle, rgba(47,76,94,1) 28%, rgba(32,57,73,1) 88%);
        position: relative;
    }
    
    .secf2-left{
        position: absolute;
        top: 15%;
        left :3%;
    }
    .secf2-left a img{
        width: 100px;
        transform: translateX(-8%);
    }
    .secf2-right{
        position: absolute;
        top: 22%;
        right :2%;
    }
    .secf2-h{
        color: #979A9A ;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1.5px;
        padding-bottom: 2%;
        font-size: 8px;
    }
    .secf2-p{
        color: white ;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5px;
        line-height: 25px;
        font-size: 10px;
    }
    .secf2-i{
        margin-top: 10px;
    }
    .secf2-i a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding-right: 10px;
        margin-top: 10px;
        transition: .2s ease-in;
    }
    .secf2-i a:hover{
        color: #D0D3D4;
    }
    .secf2-bottom{
        position: absolute;
        bottom: 4%;
        left: 25%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: white;
        letter-spacing: 1px;
    }
}